<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241213665057-ogr4uc2gqeq8n1sb1k2dnatdoorru0qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241213665057-ogr4uc2gqeq8n1sb1k2dnatdoorru0qb</string>
	<key>API_KEY</key>
	<string>AIzaSyATdr-Eqx9ubjZu_fslsWaHuvsl8bUZsgI</string>
	<key>GCM_SENDER_ID</key>
	<string>241213665057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoUpload</string>
	<key>PROJECT_ID</key>
	<string>fir-example-8ca14</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-8ca14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241213665057:ios:9d03f052866ef468459860</string>
</dict>
</plist>